<div style="margin-top: 30px">
  <button type="button" (click)="autenticar()">Autenticar</button>
  <p>{{token}}</p>
</div>

<div style="margin-bottom: 30px;">
  <h1>------------------------------------------------------------------------------------</h1>
  <p style="font-weight: bold;">Cadastrar Responsavel</p>
  <form action="/action_page.php">
    <label for="fname">Nome: </label>
    <input type="text" #nomeBeneficiario id="fname" name="fname"><br>
    <label for="email" >Email:</label>
    <input type="text" #email id="email" name="email"><br>
    <label for="cpf">CPF:</label>
    <input type="text" #cpf id="cpf" name="cpf"><br>
    <label for="telefone">Telefone:</label>
    <input type="text" #telefone id="telefone" name="telefone"><br>
    <label for="carteirinha">Carteirinha:</label>
    <input type="text" #carteirinha id="carteirinha" name="carteirinha"><br>
    <label for="sexo">Sexo:</label>
    <input type="text" #sexo id="sexo" name="sexo"><br>
    <label for="dataNascimento">Data de Nascimento:</label>
    <input type="text" #dataNascimento id="dataNascimento" name="dataNascimento"><br><br>
    <button type="button" (click)="cadastrarResponsavel(nomeBeneficiario.value,email.value,cpf.value,telefone.value,carteirinha.value,sexo.value,dataNascimento.value)">Cadastrar</button>
  </form>
  <h1>------------------------------------------------------------------------------------</h1>
</div>
<button type="button">Buscar Horarios</button>
<button type="button">Solicitar Atendimento Remoto</button>
<button type="button">Recuperar Agendamento</button>
<button type="button">Gerar token de acesso remoto</button>